.home-container {
  padding: 20px;
  min-height: 100vh;
}

/* Estilos del encabezado */
.home-header {
  padding: 10px;
  background: #011423;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.search-input {
  padding: 10px;
  width: 90%;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #011423;
  font-size: 16px;
}

/* Estilos del contenido principal */
.home-main {
  text-align: center;
}

.main-title {
  margin-bottom: 20px;
}

.book-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.book-item {
  padding: 15px;
  border: 1px solid #011423;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}

.book-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.book-title {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.book-rating {
  font-size: 16px;
  margin-bottom: 15px;
  color: #ffd700;
}

.quantity-input {
  width: 30%;
  margin-bottom: 20px;
}

.button_detalle {
  background: #011423;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

/* Responsividad */
@media (min-width: 768px) {
  .book-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .book-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
